:root{
  --blue: #4e82cc;
  
}


.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #222529;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: var(--blue);
}

p {
  font-size: 2rem;
  color: var(--blue);
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: rgba(252, 252, 252, 0.722);
  border-radius: 10px;
  border: 3px solid black;
  font-weight: bold;
  margin: 25px auto 0 auto;
}